// GALLERY paint //

.colorW{ color: #ffffff;
    font-size:large;}
    
    .container {
      display: flex;
      width: 100%;
      padding: 4% 2%;
      box-sizing: border-box;
      height: 80vh;
      
    }
    
    .boxA {
      flex: 1;
      overflow: hidden;
      transition: .5s;
      margin: 0 2%;
      box-shadow: 0 20px 30px rgba(0,0,0,.2);
      line-height: 0;
      border-radius: 0px 20px 20px 0px;
      background-color: #ffffff;
     
    }
    
    .boxA > img {
      width: 200%;
      height: calc(100% - 10vh);
      object-fit: cover; 
      transition: .5s;
      
      
    }
    
    .boxA > span {
      padding-top: 15px;
      font-size: 20px;
      display: block;
      text-align: center;
      height: 10vh;
      line-height: 2.6;
      color: #ff3333;
    }
    
    .boxA:hover { flex: 1 1 50%; }
    .boxA:hover > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    
    }
    